<%- include('partials/header') %>
  <h1>Welcome to your Workout Tracker</h1>
  <h3>View Previous Workout</h3>
  <input id="previousworkouts"></input>
  <button id="newworkout">Add New Workout</button>
</body>
<%- include('partials/footer') %>
