<%- include('../partials/header') %>
<form class = "newworkoutform" action="/workouts" method="POST">
	<label>Date:
	  <input type="date" name="date">
	</label><br>
	<label>Muscle Group(s):
            <input type="text" name="type">
	</label><br>
	<label>Warm Up:
	  <input type="text" name="warmup">
	</label><br>
	<label>Activities
	  <button type="form" name="activities">Add Activity</button>
	</label><br>
	<input type="submit" value="Add Workout">
</form>
  </body>
  <%- include('../partials/footer') %>
