<%- include('../partials/header') %>
<form class="newworkoutform" autocomplete="off" action="/workouts" method="POST">
	<table style="margin: 0 auto;">
		<tbody>
			<tr>
				<td class="form-label">Date:</td>
				<td><input class="newwktinput" type="date" name="date"></td>
			</tr>
			<tr>
				<td class="form-label">Muscle Group(s):</td>
				<td><input class="newwktinput" type="text" name="type"></td>
			</tr>
			<tr>
				<td class="form-label">Warm Up:</td>
				<td><textarea id="warmup" class="newwktinput" type="text" name="warmup"></textarea></td>
			</tr>
		</tbody>
	</table>
	<input class="btn btn-primary btn-xl" id="details" type="submit" value="Add Workout">
</form>
</body>
<%- include('../partials/footer') %>