<%- include('../partials/header') %>
<form class = "newworkoutform" action="/workouts" method="POST">
	<label>Date:
	  <input class="newwktinput" type="date" name="date">
	</label><br>
	<label>Muscle Group(s):
      <input class="newwktinput" type="text" name="type">
	</label><br>
	<label>Warm Up:
	  <input id="warmup" type="text" name="warmup">
	</label><br>
	<input type="submit" value="Add Workout">
</form>
  </body>
  <%- include('../partials/footer') %>
