* {
  box-sizing: border-box;
}

body {
  padding-top: 4px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1558611848-73f7eb4001a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80');
  background-size: 1500px 1000px;
}

.heading {
  margin-top: 0;
  justify-content: space-evenly;
  text-align: center;
  color: rgb(245, 202, 210);
  font-size: 3.8rem;
  display: inline-block;
  border-radius: 5%;
  font-family: 'Permanent Marker', cursive;
}

h1 {
  color: white;
}

/* .details:hover {
  font-size: 2rem;
  color: pink;
} */

#edit {
  background-color: white;
  color: black;
}

nav > a {
  color: white;
  /* background-color: black; */
  display: inline-block;
  font-size: 1rem;
  margin: 0 10px;
  /* color: rgb(226, 250, 12); */
}

.opaque {
  background-color: grey;
}

/* .nav:hover {
  cursor: pointer;
  color: blue;
} */

footer {
  color: navy;
  position: absolute;
  bottom: 0;
  margin-bottom: 8px;
}

body > nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  padding: 0 20px 0 30px;
  font-size: 1.4rem;
}

#workoutlist {
  max-width: 800px;
  height: fit-content;
  margin: 50px auto;
}

/* .newworkoutform {

} */