* {
  box-sizing: border-box;
}

body {
  padding-top: 4px;
  font-family: 'Amiko', sans-serif;
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1558611848-73f7eb4001a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80');
  background-size: 1500px 1000px;
}

#bodyone {
  padding-top: 4px;
  font-family: 'Amiko', sans-serif;
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  background-size: 1500px 1000px;
}

.login {
  font-size: 2rem;
  font-family: 'Amiko', sans-serif;
  color: black;
  /* padding: 5px; */
}

.login:hover {
  color: pink;
  /* background-color: rgba(0, 0, 0, 0.445); */
  display: inline-block;
  /* text-decoration: none; */
  /* border: 5px white; */
}

.heading {
  margin-top: 0;
  justify-content: space-evenly;
  text-align: center;
  color: rgba(245, 202, 210);
  font-size: 3.8rem;
  display: inline-block;
  font-family: 'Permanent Marker', cursive;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.336);
  border: 20px rgba(224, 255, 255);
  padding: 0 20px 0 20px;
  border-radius: 20px;
}

.mainnav {
  background-color: rgba(255, 255, 255, 0.863);
  max-width: 1200px;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 10px;
}

h1 {
  color: rgb(9, 30, 61);
  font-family: 'Permanent Marker', cursive;
  text-decoration: underline;
}

#edit {
  background-color: white;
  color: black;
}

.showheading {
  font-weight: bold;
  font-size: 2rem;
  text-decoration: underline;
}

#editbutton {
  text-decoration: none;
  color: lightcyan;
}

/* #showheadwarmup {
  font-size: 1.5rem;
  font-weight: bold;
} */

/* button {
  font-size: 1.8rem;
  font-weight: bold;
} */

button:hover{
  cursor: pointer;
}

form {
  margin-top: 20px;
  padding-bottom: 50px;
}

nav > a {
  color: black;
  /* background-color: black; */
  display: inline-block;
  font-size: 1.8rem;
  margin: 0 auto;
  padding: 10px;
  font-family: 'Amiko', sans-serif;
  text-decoration: none;
  /* font-family: 'Permanent Marker', cursive; */
  /* color: rgb(226, 250, 12); */
}

nav > a:hover {
  color: rgb(211, 130, 150);
}

.opaque {
  background-color: rgba(255, 255, 255, 0.932);
  /* background-color: rgba(224, 255, 255, 0.836); */
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 10px;
  border: 3px solid black;
  border-radius: 10px;
}

/* .nav:hover {
  cursor: pointer;
  color: blue;
} */

footer {
  color: white;
  /* background-color: rgba(255, 192, 203, 0.452); */
  position: fixed;
  float: left;
  bottom: 0;
}

body > nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  padding: 0 20px 0 30px;
  font-size: 1.4rem;
}

.addactivity {
  font-size: 1rem;
  background-color: black;
  color: lightcyan;
  margin-top: 15px;
}

.addactivity:hover {
  cursor: pointer;
}

#workoutlist {
  max-width: 800px;
  height: fit-content;
  margin: 10px auto;
  padding-bottom: 20px;
  /* padding: 15px; */
  /* border: 2px solid black; */
}

label {
  margin-top: 10px;
}

#logintitle {
  text-decoration: none;
  font-size: 2.5rem;
}

#warmup {
  padding: 0 0 70px 0;
  width: 250px;
  margin: 10px;
  margin-bottom: 20px;
  height: fit-content;
}

.newwktinput {
  margin: 10px;
  width: 250px;
  height: 30px;
  font-size: .8rem;
  font-family: 'Amiko', sans-serif;
}

.activities {
  background-color: black;
  color: pink;
  margin: 0 auto;
  border-collapse:collapse;
  border:2px solid pink;
  /* border-radius: 20px; */
}

.td {
  border: 1px solid white;
  padding: 10px;
}

.form-label {
  text-align: right;
}

#newworkoutbutton {
  text-align: right;
}

#add-activity {
  border: 3px solid black;
  margin: 30px 80px;
  padding: 15px;
}

#details {
  color: white;
}

#prevworkouts {
  width: 500px;
}

.editdelete {
  font-size: 1rem;
  background-color: black;
  color: lightcyan;
  margin-top: 15px;

}


